:host() {
  display: block;
  min-height: 100vh;

  .btn-menu {

    .menu {
      width: 0;
    }

    &:hover .menu,
    &:focus .menu {
      width: 115px;
    }

  }

  .menu {
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    display: block;
    position: absolute;
    top: 0;
    right: 0.5rem;
    text-align: right;
    width: 115px;
    background: white;
    padding-left: 0.5rem;
  }

  .btn-add {
    border-radius: 100% !important;
    padding: 0.25rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }
}
