<div class="has-navbar">

  <commons-navbar></commons-navbar>

  <div class="container py-3 animated fadeIn">
    <div class="row">
      <div class="col">
        <div class="card">

          <div class="card-header bg-w d-flex">

            <button type="text" class="btn btn-sm btn-light bg-w d-flex d-flex-center" (click)="back()">
              <icon-angle-left [style.width.px]="20" [style.height.px]="20"></icon-angle-left>
              <span class="pl-2">voltar</span>
            </button>

            <span class="flex-1"></span>

            <button type="text" class="btn btn-sm btn-blue-2 fg-w d-flex d-flex-center" (click)="submit()">
              <icon-save [style.width.px]="20" [style.height.px]="20" class="sfg-w"></icon-save>
              <span class="pl-2">salvar</span>
            </button>
          </div>

          <div class="container py-3">

            <div class="row">

              <div class="col-12 col-lg-6 col-xl-7">
                <div class="form-group">
                  <label>Título</label>
                  <input type="text" class="form-control" [(ngModel)]="post.title.rendered" />
                </div>
              </div>

              <div class="col-12 col-lg-6 col-xl-5">
                <div class="form-group">
                  <label>Url (permalink)</label>
                  <input type="text" class="form-control" [(ngModel)]="post.slug" />
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col">
                <div [froalaEditor]="froalaOptions" [(ngModel)]="post.content.rendered"></div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

</div>
