<div class="has-navbar">

  <commons-navbar></commons-navbar>

  <div class="container py-3 animated fadeIn">
    <div class="row">
      <div class="col">
        <div class="card">

          <div class="card-header bg-w d-flex justify-content-end">
            <button type="submit" class="btn btn-sm btn-icon bg-blue-1 fg-w d-flex d-flex-center" (click)="submit()">
              <span class="px-2">salvar</span>
              <icon-save [style.width.px]="20" [style.height.px]="20" class="sfg-w"></icon-save>
            </button>
          </div>

          <div class="container py-3">
            <div class="row">

              <div class="col-12 col-lg-6 col-xl-7">
                <div class="form-group">
                  <label>Título</label>
                  <input type="text" class="form-control" [(ngModel)]="post.title.rendered" />
                </div>
              </div>

              <div class="col-12 col-lg-6 col-xl-5">
                <div class="form-group">
                  <label>Url (permalink)</label>
                  <input type="text" class="form-control" [(ngModel)]="post.slug" />
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col">
                <div [froalaEditor]="froalaOptions" [(ngModel)]="post.content.rendered"></div>
              </div>
            </div>
          </div>

          <div class="card-footer bg-w d-flex justify-content-end">
            <button type="submit" class="btn btn-sm btn-icon bg-blue-1 fg-w d-flex d-flex-center" (click)="submit()">
              <span class="px-2">salvar</span>
              <icon-save [style.width.px]="20" [style.height.px]="20" class="sfg-w"></icon-save>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
