<div class="container-fluid d-flex flex-1">

  <div class="row flex-1">

    <div class="d-none d-sm-block col-2 col-md-4 col-lg-6 col-xl-7 bg-login"></div>

    <div class="col d-flex-c d-flex-center col-form">

      <div class="d-flex d-flex-center flex-1">
        <form [style.max-width.px]="300" class="mx-auto" (ngSubmit)="submit()">

          <img src="assets/logo.png" alt="Logomarca iMedicina" class="img-fluid p-3">

          <div class="form-group">
            <label class="d-block">Login</label>
            <input type="text" autofocus class="form-control radius" name="login" [(ngModel)]="usuario.login">
          </div>

          <div class="form-group">
            <label class="d-block">Senha</label>
            <input type="password" class="form-control radius" name="senha" [(ngModel)]="usuario.senha">
          </div>

          <div class="form-group without-label">
            <button type="submit" class="btn btn-block btn-black-2 radius">
              <span *ngIf="!isLoading">entrar</span>
              <span *ngIf="!!isLoading">verificando...</span>
            </button>
          </div>

        </form>
      </div>

      <commons-footer></commons-footer>

    </div>
  </div>
</div>
