body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:768px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:768px;
}
#u2 {
  position:absolute;
  left:2px;
  top:376px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:134px;
}
#u4 {
  position:absolute;
  left:122px;
  top:203px;
  width:236px;
  height:134px;
}
#u5 {
  position:absolute;
  left:2px;
  top:59px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:90px;
  top:529px;
  width:300px;
  height:36px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8 {
  position:absolute;
  left:90px;
  top:473px;
  width:300px;
  height:36px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  position:absolute;
  left:90px;
  top:443px;
  width:300px;
  height:30px;
}
#u10 {
  position:absolute;
  left:0px;
  top:7px;
  width:300px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12 {
  position:absolute;
  left:90px;
  top:387px;
  width:300px;
  height:36px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13 {
  position:absolute;
  left:90px;
  top:357px;
  width:300px;
  height:30px;
}
#u14 {
  position:absolute;
  left:0px;
  top:7px;
  width:300px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u15 {
  position:absolute;
  left:96px;
  top:107px;
  width:300px;
  height:170px;
}
#u16 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:40px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  position:absolute;
  left:0px;
  top:728px;
  width:480px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u20 {
  position:absolute;
  left:0px;
  top:728px;
  width:480px;
  height:40px;
  text-align:center;
}
#u21 {
  position:absolute;
  left:0px;
  top:12px;
  width:480px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:768px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u1.a {
  left:168px;
  width:600px;
}
#u1_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:768px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2.a {
  width:596px;
}
#u4.a {
  left:350px;
}
#u4_img.a {
}
#u5.a {
}
#u6.a {
  position:absolute;
  left:318px;
  top:529px;
  width:300px;
  height:36px;
}
#u6_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u8.a {
  position:absolute;
  left:318px;
  top:473px;
  width:300px;
  height:36px;
}
#u8_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9.a {
  left:318px;
}
#u9_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10.a {
}
#u12.a {
  position:absolute;
  left:318px;
  top:387px;
  width:300px;
  height:36px;
}
#u12_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13.a {
  left:318px;
}
#u13_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14.a {
}
#u15.a {
  left:0px;
  top:0px;
  width:168px;
  height:768px;
}
#u15_img.a {
  width:168px;
  height:768px;
}
#u16.a {
  top:376px;
  width:164px;
}
#u18.a {
  left:168px;
  width:600px;
}
#u18_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:40px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19.a {
  width:596px;
}
#u20.a {
  left:168px;
  width:600px;
}
#u20_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u21.a {
  width:600px;
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1027px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u1.b {
  left:427px;
  width:600px;
}
#u1_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:768px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2.b {
  width:596px;
}
#u4.b {
  left:609px;
}
#u4_img.b {
}
#u5.b {
}
#u6.b {
  position:absolute;
  left:577px;
  top:529px;
  width:300px;
  height:36px;
}
#u6_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u8.b {
  position:absolute;
  left:577px;
  top:473px;
  width:300px;
  height:36px;
}
#u8_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9.b {
  left:577px;
}
#u9_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10.b {
}
#u12.b {
  position:absolute;
  left:577px;
  top:387px;
  width:300px;
  height:36px;
}
#u12_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13.b {
  left:577px;
}
#u13_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14.b {
}
#u15.b {
  left:0px;
  top:0px;
  width:427px;
  height:768px;
}
#u15_img.b {
  width:427px;
  height:768px;
}
#u16.b {
  top:376px;
  width:423px;
}
#u18.b {
  left:427px;
  width:600px;
}
#u18_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:40px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19.b {
  width:596px;
}
#u20.b {
  left:427px;
  width:600px;
}
#u20_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u21.b {
  width:600px;
}
body.c {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1201px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u1.c {
  left:600px;
  width:600px;
}
#u1_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:768px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2.c {
  width:596px;
}
#u4.c {
  left:782px;
}
#u4_img.c {
}
#u5.c {
}
#u6.c {
  position:absolute;
  left:750px;
  top:529px;
  width:300px;
  height:36px;
}
#u6_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u8.c {
  position:absolute;
  left:750px;
  top:473px;
  width:300px;
  height:36px;
}
#u8_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9.c {
  left:750px;
}
#u9_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10.c {
}
#u12.c {
  position:absolute;
  left:750px;
  top:387px;
  width:300px;
  height:36px;
}
#u12_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13.c {
  left:750px;
}
#u13_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14.c {
}
#u15.c {
  left:0px;
  top:0px;
  width:600px;
  height:768px;
}
#u15_img.c {
  width:600px;
  height:768px;
}
#u16.c {
  top:376px;
  width:596px;
}
#u18.c {
  left:601px;
  width:600px;
}
#u18_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:40px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19.c {
  width:596px;
}
#u20.c {
  left:601px;
  width:600px;
}
#u20_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u21.c {
  width:600px;
}
