@import '~bootstrap/scss/_mixins';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_buttons';
@import '../colors';

.btn {

  &:focus,
  &.focus {
    box-shadow: none;
  }

  &.radius {
    border-radius: 1rem;
  }

  &.btn-black-2 {
    @include button-variant(color('black', 3),
    color('black', 4),
    color('black', 2),
    color('black', 3),
    color('black', 2),
    color('black', 4));
  }
  &.btn-blue-2 {
    @include button-variant(color('blue', 3),
    color('blue', 4),
    color('blue', 2),
    color('blue', 3),
    color('blue', 2),
    color('blue', 4));
  }
}



.btn-icon {
  &.btn-sm {
    padding: 0.25rem;
    border-radius: 0.25rem;
  }
}
